<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="bonfire"></ion-icon>
    </ion-buttons>
    <ion-title>
      FotosGram
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <!--Refresher-->

  <!-- Renderizar POST -->
  <app-posts [posts]="posts"></app-posts>

  <!-- Infinite Scroll -->
  <ion-infinite-scroll 
  threshold="150px" 
  (ionInfinite)="nextLoad($event)">
    <ion-infinite-scroll-content><!-- loadingSpinner="bubles"  loadingText="Loading data..." -->

    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
